/*-- Base Styles --*/
html,
body {
  margin: 0;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Baloo Chettan", cursive;
  font-size: 5em;
  background-color: #141414;
}

/*-- Sign Styles --*/
.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__word {
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.05s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
a {
  color: #c6e2ff;
  font-size: 1em;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
i {
  color: #c6e2ff;
  font-size: 3em;
}

/*# sourceMappingURL=style.css.map */
